@media all and (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
    .team {
        width: 45%;
        margin-bottom: 50px;
      }
    .contact-form {
        width: 45%;
        margin-bottom: 50px;
    }
    .top-wrapper h1 {
        font-size: 32px;
      }
    
      .heading h2 {
        font-size: 20px;
    }
    
}
@media all and (max-width: 670px) {
    .lesson {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
    
      .facebook {
        margin-bottom: 10px;
    }
    
      .top-wrapper {
        text-align: left;
    }
    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }
    
      .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }
    .team {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }
    
    footer {
        text-align: center;
        max-height: 300px;
        height: 100%;
    }
    .header-right {
      display: none;
    }
    .menu-icon {
        display: block;
    }
    .footer-list {
        flex-direction: column;
        float: left;
    }
    .footer-list li {
        margin: 0 auto;
        padding: 5px;
    }
    
    .footer-logo {
      max-width: 250px;
      width: 100%
    }
}